doctype html
html(lang='ko')
  head
    title 암호화과제
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
  body
    header=title
      nav
        ul
          li 
            a(href="/") 홈페이지 
          li
            a(href="/sign-up") 회원가입
          li
            a(href='/sign-in') 로그인
          li
            a(href='/modulated') 변조 확인
          li
            a(href='/hash-value') 해시 확인
    main 
      block content